<footer class="site-footer">

  <div class="wrapper">
<!--            <a href="{{ site.departamental_page }}">
                <img src="image/UoS.ico" alt="DCS"> {{ site.current_department }}
            </a>-->

            <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <table >
            <tr class="contact-list">
                <td>
                  <div class="media">
                    <a class="pull-left thumbnail" href="mailto:w.aziz@uva.nl">
                      <img src="/nlp2/img/ico/UvA.png" alt=""/>
                    </a>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <a class="pull-left thumbnail" href="mailto:wilker.aziz@gmail.com">
                      <img src="/nlp2/img/ico/gmail.png" alt=""/>
                    </a>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <a class="pull-left thumbnail" href="/nlp2/feed.xml">
                      <img src="/nlp2/img/ico/rss.svg" height="16" width="16" alt=""/>
                    </a>
                  </div>
                </td>
          </tr>
        </table>
      </div>

      <div class="footer-col  footer-col-2">

      </div>

      <div class="footer-col  footer-col-3">
          <p class="text" align="right">Last updated {{ site.time | date: "%B %d, %Y" }}.</p>
      </div>
    </div>

  </div>

</footer>
