<div class="media">
    <a class="pull-left thumbnail" {% if include.lecture.slides %} href="{{ include.lecture.slides }}" {% endif %}>
        <img src="img/lectures/{{ include.lecture.img }}.png" alt="" style="max-width:100px; height:auto;"/>
    </a>
  <div class="media-body">
    <!-- citation -->
    <strong>{{ include.lecture.title }}</strong><br/>
    {% if include.lecture.instructor %}{{ include.lecture.instructor }}.{% endif %}
    {{ include.lecture.date }}.
    {% if include.lecture.note %}<i>{{ include.lecture.note }}</i>{% endif %}
    <br/>

    <!-- abstract -->
    {% if include.lecture.abstract %}
      <a data-toggle="modal" href="#abstract{{ include.lecture.uid }}" class="label label-default">Abstract</a>
      <!-- Modal -->
      <div class="modal fade" id="abstract{{ include.lecture.uid }}" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{ include.lecture.title }} | Abstract</h4>
            </div>
            <div class="modal-body">
              {{ include.lecture.abstract | markdownify }}
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    {% endif %}


    <!-- resources -->

    {% if include.lecture.slides %}
      <a href="{{ include.lecture.slides }}" class="label label-info">Slides</a>
    {% endif %}

    {% if include.lecture.classmaterial %}
      <a data-toggle="modal" href="#classmaterial{{ include.lecture.uid }}" class="label label-info">Class material</a>
      <!-- Modal -->
      <div class="modal fade" id="classmaterial{{ include.lecture.uid }}" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{ include.lecture.title }} | Class material</h4>
            </div>
            <div class="modal-body">
                <ul>
                {% for material in include.lecture.classmaterial %}
                    <li>{{ material | markdownify }}</li>
                {% endfor %}
                </ul>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    {% endif %}

    <!-- code and data -->
    {% if include.lecture.code %}
      <a href="{{ include.lecture.code }}" class="label label-info">Code</a>
    {% endif %}
      
    {% if include.lecture.video %}
       <a data-toggle="modal" href="#further{{ include.lecture.uid }}" class="label label-warning">Video</a>
      <!-- Modal -->
      <div class="modal fade" id="further{{ include.lecture.uid }}" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{ include.lecture.title }} | Video lecture</h4>
            </div>
            <div class="modal-body">
                {% if include.lecture.videowarn %}
                    {{ include.lecture.videowarn | markdownify }}
                {% endif %}
                <ul>
                {% for paper in include.lecture.video %}
                    <li>{{ paper | markdownify }}</li>
                {% endfor %}
                </ul>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    {% endif %}

    {% if include.lecture.data %}
    <a href="{{ include.lecture.data }}" class="label label-info">Data</a>
    {% endif %}
    
    {% if include.lecture.background or include.lecture.backgroundwarn %}
      <a data-toggle="modal" href="#background{{ include.lecture.uid }}" class="label label-success">Background reading</a>
      <!-- Modal -->
      <div class="modal fade" id="background{{ include.lecture.uid }}" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{ include.lecture.title }} | Background reading</h4>
            </div>
            <div class="modal-body">
                {% if include.lecture.backgroundwarn %}
                    {{ include.lecture.backgroundwarn | markdownify }}
                {% endif %}
                <ul>
                {% for paper in include.lecture.background %}
                    <li>{{ paper | markdownify }}</li>
                {% endfor %}
                </ul>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    {% endif %}
    
    {% if include.lecture.further or include.lecture.furtherwarn %}
      <a data-toggle="modal" href="#further{{ include.lecture.uid }}" class="label label-warning">Further reading</a>
      <!-- Modal -->
      <div class="modal fade" id="further{{ include.lecture.uid }}" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{ include.lecture.title }} | Further reading</h4>
            </div>
            <div class="modal-body">
                {% if include.lecture.furtherwarn %}
                    {{ include.lecture.furtherwarn | markdownify }}
                {% endif %}
                <ul>
                {% for paper in include.lecture.further %}
                    <li>{{ paper | markdownify }}</li>
                {% endfor %}
                </ul>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    {% endif %}
    
    {% if include.lecture.discussion or include.lecture.discussionwarn %}
      <a data-toggle="modal" href="#discussion{{ include.lecture.uid }}" class="label label-danger">Discussion</a>
      <!-- Modal -->
      <div class="modal fade" id="discussion{{ include.lecture.uid }}" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{ include.lecture.title }} | Discussion</h4>
            </div>
            <div class="modal-body">
                {% if include.lecture.discussionwarn %}
                    {{ include.lecture.discussionwarn | markdownify }}
                {% endif %}
                <ul>
                {% for paper in include.lecture.discussion %}
                    <li>{{ paper | markdownify }}</li>
                {% endfor %}
                </ul>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    {% endif %}

  </div>
</div>
