<div class="media">
  <a class="pull-left thumbnail" {% if include.talk.doc-url %} href="{{ include.talk.doc-url }}" {% endif %}>
    <img src="img/talk/{{ include.talk.img }}.png" alt=""/>
  </a>
  <div class="media-body">
    <!-- citation -->
    <strong>{{ include.talk.title }} </strong><br/>
    {% if include.talk.event %}
    <small><i>{{ include.talk.event }}</i></small><br/>
    {% endif %}
    {% if include.talk.about %}
    <span> {{ include.talk.about }} </span>
    {% endif %}
    <br/>

    <!-- abstract -->
    {% if include.talk.abstract %}
      <a data-toggle="modal" href="#abstract{{ include.talk.img }}" class="label label-default">Abstract</a>
      <!-- Modal -->
      <div class="modal fade" id="abstract{{ include.talk.img }}" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{ include.talk.title }}</h4>
            </div>
            <div class="modal-body">
              {{ include.talk.abstract }}
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    {% endif %}

    {% if include.talk.slides %}
      <a href="{{ include.talk.slides }}" class="label label-info">Slides</a>
    {% endif %}

    {% if include.talk.video %}
    <a href="{{ include.talk.video }}" class="label label-info">Video</a>
    {% endif %}

    <!-- amendments -->

    {% if include.talk.errata %}
    <div class="modal fade" id="errata{{ include.talk.img }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Errata | {{ include.talk.title }}</h4>
          </div>
          <div class="modal-body">
            {{ include.talk.errata }}
          </div>
        </div>
      </div>
    </div>
    <a data-toggle="modal" href="#errata{{ include.talk.img }}" class="label label-danger">Errata</a>&nbsp;
    {% endif %}
  </div>
</div>
